.filter {
  display: grid;
  grid-template-columns: 35% 22% 22% 21%;
  grid-template-rows: 1fr;

  grid-column: span 2;
  grid-row: 1;

  background-color: #ffffff;
  border-bottom: solid 1px #C7C5C5;
  color: #49E5CD;
  padding-left: 2%;
  font-size: 10px;
}

.dropdown__legal-entity {
  grid-column: 2;
  grid-row: 1;
  align-self: center;
}

.dropdown__sort-by {
  grid-column: 3;
  grid-row: 1;
  align-self: center;
}

.checkbox__archived {
  grid-column: 4;
  grid-row: 1;
  align-self: center;
}
