form {
  grid-column: 1;
  grid-row: 1;
  align-self: center;
}

input {
  position: relative;
  font-family: 'FontAwesome';
  padding: 2%;
  font-size: 12px;
  width: 90%;
}

input:focus {
  outline: none;
}
