#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;

  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: auto minmax(min-content, 1fr);
  margin: 0 auto;
  height: 100vh;
}

main {
  grid-column: 2;
  grid-row: 2;
  align-self: start;
  margin-left: 18px;
}
