section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;

  grid-column: 1;
  grid-row: 2;

  background-color: #ffffff;
  border-bottom: solid 1px #C7C5C5;
  color: #707372;
  padding-left: 2%;
  font-size: 14px;
  font-weight: normal;

  h2 {
    align-self: center;
  }
}
