.checkbox {
  display: inline-block;
  width: 10%;
  height: 30%;
  border: solid 1px #C7C5C5;
  border-radius: 50%;
  color: #ffff;
  cursor: pointer;
}

.checkbox span {
  display: inline-block;
  width: 100%;
  text-align: center;
  padding-top: 10%;
}

.checkbox--checked {
  background-color: #49E5CD;
}

.label {
  margin: 0 0 0 1%;
  position: absolute;
  display: inline-block;
  color: #000000;
  font-size: 12px;
  font-weight: 500;
  cursor: pointer;
}
